@media screen and (min-width: 320px) and (max-width: 736px) {
	body, html {
		font-size: 18px!important;
	}
	h1, .h1 {
		font-size: 28px!important;
	}
	h2, .h2 {
		font-size: 22px!important;
	}
	h3, .h3 {
		font-size: 22px!important;
	}
	h4, .h4 {
		font-size: 18px!important;
	}
	#fp-nav, .block-1:after, .block-1 .phone-1 {
		display: none!important;
	}
	header {
		position: relative!important;
		background: #f82736!important;
	}
	.logo, .block-1 .in-middle {
		text-align: center!important;
	}
	header .rules {
		float: left!important;
		text-align: center!important;
	}
	.rules a {
		font-size: 24px!important;
	}
	.block {
		height: auto!important;
	}
	.in-middle {
		width: 98%!important;
	}
	.block h1 {
		margin-top: 50px!important;
		margin-bottom: 15px!important;
	}
	.block h2 {
		margin: 15px 0 25px!important;
		text-align: center;
	}
	.block-1 {
		background: #f82736!important;
		box-shadow: 0 0 30px rgba(223, 27, 60, .7);
	}
	.block p {
		margin-left: -.625rem;
		margin-right: -.625rem;
	    text-align: center!important;
	}
	.block-1 .start {
		position: relative;
		bottom: -1px;
		left: -23px;
		width: calc(100% + 42px);
		background: #fff;
		color: #f82736;
	}
	.block-1 h3 {
		display: inline-block;
		float: none!important;
		margin: 4px 0;
		font-size: 32px!important;
	}
	.block-1 span {
		margin-top: 0!important;
		margin-left: 0!important;
	}
	.block-1 {
		margin-bottom: 60px;
	}
	.block-2 .icon {
		padding-top: 65px;
		padding-left: 0!important;
		background-position: center top!important;
	}
	.slick-slider {
		margin-top: 15px;
	}
	.slick-arrow {
		display: none!important;
	}
	.slick-slide img {
		position: relative!important;
		top: 0!important;
		left: 0!important;
		width: 99%;
	}
	.slick-slide .img-4 {
		height: 460px;
		width: auto!important;
		margin: auto;
	}
	.slick-dots {
		display: inline-block;
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	.slick-dots li {
		display: inline-block;
		padding: 0;
		margin: 0 5px;
	}
	.slick-dots button {
		width: 10px;
		height: 10px;
		padding: 0;
		background: #d7d7d7;
		border: 0;
		border-radius: 100%;
		font-size: 0;
	}
	.slick-active button {
		background: #000;
	}
	.block-3 p {
		margin: 30px 0;
		padding-right: 0!important;
	}
	.block-4 .text {
		width: auto!important;
		margin-left: -.9375rem;
		margin-right: -.9375rem;
	}
	.block-4 .text div {
		box-shadow: 0 0 30px #e5e5e5;
	}
	.block-4 .text h5 {
		text-align: center;
	}
	.block-5 {
		padding: 50px 0 75px;
		background-size: auto 125%!important
	}
	.block-5 .m-t-3 {
		margin-top: 0!important;
	}
	.block-5 .p-t-3 {
		padding-top: 0!important;
	}
	.block-5 h2 {
		margin-top: 60px!important;
		color: #fff!important;
    }
    .block-5 h2 span {
        color: #fff!important;
    }
	.block-5 img {
		display: none!important;
	}
	.block-5 h4 {
		height: auto!important;
		margin: 25px 0 0!important;
		padding-left: 24px;
		background: url(../img/done.png) left center no-repeat;
		text-align: left;
	}
	.block-6 {
		padding: 40px 0;
	}
	.block-6 h5 {
		margin-left: -.625rem!important;
		margin-right: -.625rem!important;
	}
	.block-6 input {
        padding-right: 50px!important;
	}
	.block-6 button {
		position: relative!important;
		right: auto!important;
		margin-top: 30px;
	}
	.block-7  {
		padding: 40px 0;
	}
	.block-7 img {
		max-width: 100%;
	}
	footer {
		position: relative!important;
		display: block!important;
	}
	footer p {
		margin-left: -.9375rem!important;
		margin-right: -.9375rem!important;
	}
	footer span {
		display: block;
	}
	#new-fullpage {
		margin-top: 95px!important;
	}
	.block-8 p {
		margin-bottom: 30px!important;
		padding: 0 30px!important;
		background: url(../img/shape.png) 0 0 no-repeat!important;
		text-align: justify!important;
	}
}
@media screen and (min-width: 568px) and (max-width: 736px) {
	.block-1 .start {
		left: -25px!important;
		width: calc(100% + 45px)!important;
	}
	.slick-slide .img-4 {
		height: 278px!important;
	}
	.block-5 {
		padding: 80px 0 115px!important;
		background-size: auto 115%!important;
	}
}
@media screen and (min-width: 768px) and (max-width: 768px) {
	h1, .h1 {
		font-size: 52px!important;
	}
	h2, .h2 {
		font-size: 40px!important;
	}
	#fp-nav {
		display: none!important;
	}
	.block-1 {
		background: url(../img/block-1.png) center top no-repeat!important;
	}
	.block-1 .phone-1 {
		background-size: 100%!important;
	}
	.block-2 .img-1.active {
		top: 100px!important;
	}
	.block-2 .img-2.active {
		top: 0px!important;
		left: 15%!important;
	}
	.block-2 h2, .block-2 p {
		margin-left: 70px!important;
	}
	.block-3 .img-4.active {
		right: 35%!important;
	}
	.block-4 .col-lg-4:last-child {
		margin-left: 25%;
	}
	.block-4 .text div {
		box-shadow: 0 30px 100px #e5e5e5;
	}
    .block-5 h2 span {
        color: #fff!important;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1024px) {
	.block-1 .phone-1 {
		background-size: contain!important;
	}
	.block-2 h2, .block-2 p {
		margin-left: 70px!important;
	}
    .block-5 h2 span {
        color: #fff!important;
    }
}
@media screen and (min-width: 768px) {
	.block-7 img {
		margin-top: -90px;
	}
	.block-7 a img {
		margin-top: 0;
	}
}